
{% include 'logisticsheader.html' %}
	<div id='page-wrapper'>
	<div id='page-inner'>
		<div class='row'>
			<div class='col-md-12'>
				<h3>ORDERS</h3>
				<div class='form'>
				</div>
			</div>
		</div>
		<div class='row'>
			<form method="post">
			<div class='col-md-12'>
				<table class='table'>
					<thead>
						<tr>
							<th>Sl No.</th>
							<th>Customer Name</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Current Status</th>
							<th>Update Order Status</th>
						</tr>
					</thead>
					<tbody>
						{% for row in data['view'] %}
						<tr>
							<td>{{loop.index}}</td>
							<td>{{row['NAME']}}</td>
							<td>{{row['pro_name']}}</td>
							<td>{{row['tot_price']}}</td>
							<td style="color: red;">{{row['cstatus']}}</td>
							<td colspan="2"><select class="form-control" style="width:200px;" name="status{{loop.index}}">
								<option value="shipped">--Select--</option>
								<option value="Shipped">Shipped</option>
								<option value="On the way">On the way</option>
								<option value="Delivered">Delivered</option>
							</select>
							<td>
							<input type='text' name="orderid{{loop.index}}"  hidden="" value="{{row['order_id']}}">
							<input type='submit' class='btn btn-success' required name="submit{{loop.index}}" value='Update' style="width: 150px">
							</td>
						</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</form>
		</div>
	</div>
</div>
{% include 'footer.html' %}


